/* Codigo para convertir un boton en un hexagono usando css */
.hexagon-btn {
     -fx-shape: "M 50 0 L 150 0 L 200 75 L 150 150 L 50 150 L 0 75 Z";
    -fx-background-color: #0077cc;
    -fx-border-color: #2980b9; /* Color del borde */
    -fx-border-width: 2; /* Ancho del borde */
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px 10px;
    -fx-pref-width: 80px;
    -fx-font-weight: bold; /* Grosor del texto */
}

.check-btn {
    -fx-background-color: orange;
    -fx-font-size: 12px;
    -fx-font-weight: bold; /* Grosor del texto */
}

.hexagon-btn:hover {
    -fx-background-color: #005699; /* Cambia el color cuando el cursor pasa sobre el botón */
}

.hbo-general {
    -fx-background-color: #0077cc; /* Código de color para azul oscuro */
    -fx-padding: 5px 10px;
}

.label-bottom {
    -fx-text-fill: white;
}

.label-poligon-btn {
     -fx-font-size: 14px; /* Tamaño del texto */
     -fx-text-fill: white; /* Color del texto */
     -fx-font-weight: bold; /* Grosor del texto */
}

.general-btn {
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
}

.label-general {
     -fx-font-size: 14px; /* Tamaño del texto */
     -fx-text-fill: white; /* Color del texto */
     -fx-font-weight: bold; /* Grosor del texto */
}

.central-btn {
    -fx-fill: white;
    -fx-stroke: #2980b9; /* Color del borde */
    -fx-stroke-width: 2; /* Ancho del borde */
}

.label-title-view {
     -fx-font-size: 20px; /* Tamaño del texto */
     -fx-text-fill: white; /* Color del texto */
     -fx-font-weight: bold; /* Grosor del texto */
}

.label-personalized {
     -fx-font-size: 24px; /* Tamaño del texto */
     -fx-text-fill: #005699; /* Color del texto */
     -fx-font-weight: bold; /* Grosor del texto */
}

/* Codigo para definir propiedades de un poligonon usando css */

.poligon-hexagon {
    -fx-fill: #0077cc ;
    -fx-stroke: #2980b9; /* Color del borde */
    -fx-stroke-width: 2; /* Ancho del borde */
    -fx-padding: 5px 10px;
}

.poligon-hexagon:hover {
    -fx-fill: #005699; /* Cambia el color cuando el cursor pasa sobre el botón */
}









