.pentagon-btn {
    -fx-shape: "M 0,-55 45.77,-14.37 28.17,41.21 -28.17,41.21 -45.77,-14.37 Z";
    -fx-background-color: #0077cc;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px 10px;
    -fx-pref-width: 80;
}

.pentagon-btn:hover {
    -fx-background-color: #005699; /* Cambia el color cuando el cursor pasa sobre el botón */
}

.hbo-general {
    -fx-background-color: #0077cc; /* Código de color para azul oscuro */
    -fx-padding:  7 0 7 0; /* Margen, patron es arriba derecha abajo izquierda */
}

.label-bottom {
    -fx-text-fill: white;
}

.general-btn{
    -fx-min-width: 120px;
    -fx-max-width: 120px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
}

/* styles.css */
.hexagon-button {
          -fx-shape: "M 50 0 L 150 0 L 200 75 L 150 150 L 50 150 L 0 75 Z";
          -fx-background-color: #3498db; /* Color de relleno */
          -fx-border-color: #2980b9; /* Color del borde */
          -fx-border-width: 2; /* Ancho del borde */
          -fx-background-insets: 0; /* Margen interior para dar espacio al contenido */
          -fx-padding: 5; /* Margen exterior */
}

.hexagon-button:hover {
    -fx-background-color: #005699; /* Cambia el color cuando el cursor pasa sobre el botón */
}

.box-cruz {
    -fx-spacing: 10; /* Espaciado entre botones */
    -fx-alignment: center; /* Alineación al centro */
}

.poligon_hexagon {
    -fx-fill: #1f93ff ;
}

.poligon_hexagon:hover{
    -fx-fill: #005699; /* Cambia el color cuando el cursor pasa sobre el botón */
}









